@import "tailwindcss";

@theme {
  --color-xp-blue: #0c4ec4;
  --color-xp-green: #3ca046;
  --color-xp-red: #e04b2b;
  --color-xp-yellow: #ffd51b;
  --color-taskbar-blue: #0c4ec4;
  --color-taskbar-blue-light: #1084d0;
  --color-window-blue: #0060fb;

  --color-surface: #add8e6;
  --color-button-highlight: #ffffff;
  --color-button-face: #dfdfdf;
  --color-button-shadow: #808080;
  --color-window-frame: #0a0a0a;
  --color-dialog-blue: #000080;
  --color-dialog-blue-light: #1084d0;
  --color-link-blue: #0000ff;

  --color-login-bg-light: #5a7edc;
  --color-login-bg-dark: #1831a3;


  --inset-shadow-window-outer: inset -1px -1px var(--color-window-frame), inset 1px 1px var(--color-button-face);
  --inset-shadow-window-inner: inset -2px -2px var(--color-button-shadow), inset 2px 2px var(--color-button-highlight);
  --inset-shadow-status-bar-field: inset -1px -1px var(--color-button-face), inset 1px 1px var(--color-button-shadow)

  --font-xp: "Tahoma";
}
